* {
    color: white;
    font-family: 'VT323', monospace;

}

body {
    background-image: url(../imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao {
    background-color: #070d12;
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cartao .minhas-info img {
    border-radius: 50px;
    border: 4px solid #02d08f;
}

.cartao .minhas-info .Nome {
    font-size: 26px;
}

.cartao .minhas-info .Cargo {
    color: #a19999;
}

.cartao .abas {
    display: flex;
}

.abas img {
    width: 30px;
}

.cartao .abas .aba {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .conteudo {

    margin-top: 10px;
}

.cartao .abas .aba.selecionado {
    background-color: #262626;

}

.cartao .info-abas {
    background-color: #262626;
    font-size: 18px;
}

.cartao .abas .aba:hover {
    background-color: #262626;
}

.cartao .info-abas .info {
    min-height: 260px;
    padding: 15px;
    display: none;

}
.info-abas .info.selecionado {
    
    display: block;
}

.info-abas .Sub-titulo {
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.info-abas .descricao {
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 10px;
}

.info-abas .descricao span {
    color: #02d08f;
}
.info-abas .descricao span{
    color: #02d08f;
}

.redes-socias {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding-bottom: 10px;
}

.redes-socias li a {
    display: block;
    width: 250px;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    transition: opacity 0.3s;
}



.redes-socias .curriculo {
    background-color: #02d08f;
}

.redes-socias .LinkedIn {
    background-color: #4a9deb;
}

.redes-socias .GitHub {
    background-color: #433b44;
}

.redes-socias li a:hover {
    opacity: 0.8;
}